
h3 {
  padding: 0.5em;
}
.fav {
  float: right;
}
.lineup {
  display: inline-block;
  padding: 0.5em;
}
.posRight {
  float: right;
}
.row {
    display: flex;
   flex-wrap: wrap;
}
.row>[class="col-sm-6 col-md-4"] {
    display: flex;
    flex-direction: column;
}
.tempRight {
  margin-left: 3em;
}
.thumbnail {
  height: 95%;
}
.commentWell {
  height: 25em;
}

#show {
  margin-left: 3em;
}
